<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1 class="text-center">
                注册成功
            </h1>
            <br />
            <br />
            <br />
            <h4 class="text-center text-info" onclick="javascript:window.location.href='login'">
                请点击这里进行登录
            </h4>
        </div>
    </div>
</div>
</body>
<style>
    .container {
        width: 450px;
    }
</style>
</html>